.DS_Store
/.build
/swift/.build
/swift/Packages
xcuserdata/
DerivedData/
swift/.swiftpm/configuration/registries.json
swift/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
node_modules/
